h2{
	font-family: 'Tangerine';
	font-size: 80px;
}
nav{
	opacity: .9;
}
#aboutParagraph{
	font-family: 'Tangerine', cursive;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25.5px;
}
#about{
	background-color: blue;
	width: 100%;
}
/* Responsive Styles */

@media handheld, screen and (max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media handheld, screen and (max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    #aboutParagraph{
    	font-size: 4px;
    }

}